.blue {
	background-color: blue;
	
	height: 350px;
}


.white {
	background-color: white;
	
	height: 300px;
}

.red {
	background-color: red;
	
	height: 400px;
}

.flag{
	    display: grid;
    grid-template-columns: repeat (3, 300px);
width: 50%;
}